*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: #b5b5b5;
    
}

.tarjeta_presentacion{
    
    background-image: url(../imgs/bg\ img\ presentacion.jpg);
    background-size: cover;
    
    
    
    
}
.datos_personales{
    justify-content: space-around;
    color: white;
    text-shadow: 1.5px 1.5px black
    
}

.iconos{
    display: flex;
    justify-content: center;
    
}
.dropdown-menu{
    width: 100vw; 
}

.portfolio .card{
   

    
    margin-top: 10px;
    align-content: center;
    margin: 15px;
    
    
}

.portfolio img{
    
    height: 300px;
}
.row{
    justify-content: center;
    justify-content: space-between;
}

footer {
    align-content: center;
    margin-top: 35px;
}
.icono-linkedin{
    margin-top: 35px;
}
   
    
    